{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chat</title>
</head>
<body>
  <div id="chat-messages">
  </div>
  <input id="chat-message-input" type="text" size="100">
  <input id="chat-message-submit" type="button" value="Send">
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    var roomName = '{{ request.user.username }}';

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
        );


    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var author = data['author'];
        document.querySelector('#chat-messages').innerHTML += (author + ': ' + message + '<br>');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'author': '{{ request.user.username }}'
        }));
        messageInputDom.value = '';
    };

    window.onbeforeunload = function() {
        chatSocket.onclose = function () {}; // disable onclose handler first
        chatSocket.close();
    };
  </script>
</body>
</html>

