{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/login/css/style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="POST" action="login">
            {% csrf_token %}
            <!-- Formulário de login -->
            <input type="text" placeholder="Username" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>
        
        <div class="social-login">
            <p>Or login with:</p>
            <!-- Botões de login social -->
            <button class="social-btn facebook">Facebook</button>
            <button class="social-btn google">Google</button>
            <button class="social-btn twitter">Twitter</button>
        </div>

    </div>
    <script src="{% static 'accounts/js/login.js' %}"></script>
</body>
</html>
