{% extends 'projects/logged_homepage/base/base.html' %}
{% load static %}
{% load project_tags %}

{% block title %}Business Dashboard{% endblock title %}

{% block content %}
	<div class="content-start transition">
		<div class="container-fluid dashboard">
			<div class="content-header">
				<h1>Business Account</h1>
				<p></p>
			</div>
			
			<div class="row">
				
				<div class="col-md-6">
					<div class="card">
						
						<div class="card-body pb-4">
							<h4>Top {{top_freelancers_quantity}} Recommended Freelancers</h4>

							{% for freelancer in freelancers %}
								<div class="recent-message d-flex px-4 py-3">
									<div class="avatar avatar-lg">
										{% if freelancer.avatar %}
											<img src="{{ freelancer.avatar.url }}">
										{% else %}
											<img src="{% static 'images\avatar\avatar-1.png' %}">
										{% endif %}
									</div>
									<a href="">
										<div class="name ms-4">
											<h5 class="mb-1">{{ freelancer }}</h5>
											<h6 class="text-muted mb-0">{{ freelancer.description }}</h6>
										</div>
									</a>
								</div>
							{% endfor %}


							<div class="px-4">
								<button class='btn btn-block btn-xl btn-primary font-bold mt-3'>Show all</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="card">
						
						<div class="card-body"> 
							<h4>My projects</h4>
						<div class="table-responsive"> 
						<table class="table table-striped">
							<thead>
							<tr>
								<th scope="col">Project Name</th>
								<th scope="col">Date Posted</th>
								<th scope="col">Budget</th>
								<th scope="col">Payment Method</th>
								<th scope="col">Type</th>
								<th scope="col">Status</th>
								<th scope="col">View Details</th>
							</tr>
							</thead>
							<tbody>
								{% for project in projects %}
									{% if user_logged == project.user %}
										<tr>
											<td>{{project.short_description}}</td>
											<td>{{project.date_posted}}</td>
											<td>${{project.budget|two_decimals}}</td>
											<td>{{project.currency}}</td>
											<td>{{project.type|capitalize}}</td>
											<td><span class="text-danger">Chargeback</span></td>
											{% comment %} <td>BTC</td> {% endcomment %}
											<td><button class="btn btn-primary">View Details</button></td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						</div>
						</div>
					</div>
				</div>
		</div>
		</div>
	</div>
{% endblock content %}

