{% extends 'projects/logged_homepage/base/base.html' %}
{% load static %}
{% load project_tags %}

	
{% block content %}
    <!--Content Start-->
	<div class="content-start transition">
		<div class="container-fluid dashboard">
			<div class="content-header">
				<h1>Freelancer Account</h1>
				<p></p>
			</div>
			
			<div class="row">

				{% comment %} <div class="col-md-6">
					<div class="card">
						
						<div class="card-body">
							<div id="columnchart"></div>
						</div>
					</div>
				</div> {% endcomment %}
				

				<div class="col-md-12">
					<div class="card">
						
						<div class="card-body"> 
							<h4>Avaiable projects</h4>
						<div class="table-responsive"> 
						<table class="table table-striped">
							<thead>
							  <tr>
								<th scope="col">Project Name</th>
								<th scope="col">Date Posted</th>
								<th scope="col">Budget</th>
								<th scope="col">Payment Method</th>
								<th scope="col">Type</th>
								<th scope="col">View Details</th>
							  </tr>
							</thead>
							<tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{project.short_description}}</td>
                                        <td>{{project.date_posted}}</td>
                                        <td>${{project.budget|two_decimals}}</td>
                                        <td>{{project.currency}}</td>
                                        <td>{{project.type|capitalize}}</td>
                                        {% comment %} <td>BTC</td> {% endcomment %}
                                        <td><button class="btn btn-primary">View Details</button></td>
                                    </tr>
                                {% endfor %}
							</tbody>
						  </table>
						  </div>
						</div>
					</div>
				</div>
		   </div>
		</div>
	</div>
{% endblock content %}
